
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #211B30;
    height: 100vh;
}


.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Tela de loading */

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #211B30;
    z-index: 9999;
}

/* Esconder o main principal para aparecer a tela de loading antes */

#content {
    display: none;
}

/* Cabeçalho */

.row {
    width: 700px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 170px;

}

.row h1 {
    font-size: 2rem;
    color: #76EFD2;
    font-weight: 600;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
}

/* Painel de login */

.container-login { 
    position: absolute;
    display: flex;
    top: 30%;
    left: 60%;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    background: #302644;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.login h2 {
    font-size: 1.5rem;
    color: #00C571;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.login label {
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 10px;
}

.login input {
    padding: 10px;
    color: white;
    border: solid 1px #8d5151;
    border-color: #0a0606;
    border-radius: 8px;
    background: #4F426B;
    outline-style: solid 1px #1a1717;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.1);
}

.login input[type="password"] {
   letter-spacing: 1px;
}

.login #check {
    position: relative;
    top: 2px;
    box-shadow: none;
    width: 20px;
}

.login #checkbox {
    margin-bottom: 0px;
    width: fit-content;
    position: relative;
    bottom: 33px;
    left: 22px;
}

.login button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #00C571;
    font-size: 12px;
    font-weight: 800;
    color: #211B30;
    cursor: pointer;
    box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.1);
}

img {
    width: 40%;
    height: fit-content;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 12%;
    left: 40px;
    bottom: 0px;
}

/* Telas até 1024 de largura */

@media screen and (max-width:1024px){
    #container-login {
        width: 100%;
        top: 20%;
        left: 30%;
        background-color: #302644c9 ;
    }

    .row {
        width: fit-content;
        position: relative;
        top: 30px;
        left: 29%;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    img {
        width: 60%;
        left: 20%;
        top: 10%;
    }
    
}

/* Telas até 768px de largura */

@media screen and (max-width:768px){
    #container-login {
        width: 100%;
        top: 20%;
        left: 23%;
        background-color: #302644c9 ;
    }

    .row {
        width: fit-content;
        position: relative;
        top: 30px;
        left: 21%;
    }

    img {
        width: 70%;
        left: 15%;
        top: 10%;
    }
}

/* Telas até 425 de largura */

@media screen and (max-width:425px){
    #container-login {
        width: 95%;
        margin: auto;
        top: 30%;
        left: 1.3vh;
        background-color:  #302644c9 ;
    }

    .row {
        width: fit-content;
        position: relative;
        top: 30px;
        left: 2%;
    }

    img {
        width: 80%;
        left: 10%;
        top: 35%;
    }
}

/* Telas até 375px de largura */

@media screen and (max-width:375px){
    #container-login {
        width: 95%;
        margin: auto;
        left: 1vh;
        
        background-color: #302644c9 ;
    }

    .row {
        width: fit-content;
        position: relative;
        top: 30px;
        left: 1%;
    }

    img {
        width: 90%;
        left: 10%;
        top: 35%;
    }
}



/* Animação de Loading */

.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    top: 35%;
    margin: 0 auto;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }

